
*{
    box-sizing: border-box;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background:#eee;
    scroll-behavior: smooth;
    
}


nav{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    background: linear-gradient(to right, #fff 10%, #999);
    flex-basis: 100vw;
}




a.nav__item{
    font-size: 1.25em;
    flex-basis:100vw;
    text-decoration: none;
    color: #222;
    flex-basis: 100vw;
    font-style: italic;
    text-align: center;
    border-radius: 2em;
    border:transparent;
    transition: 0.2s;
}


a.nav__item:hover{
    background: linear-gradient(to right,#fff 10%, #888);
    border-radius: 2em;
    border: solid #222;

}





nav a img{
    height: 65px;
}
form input.barra-de-busqueda{
    width: 18em;
    border-radius: 2em;
    background: #ddd;
    font-style: italic;
    border: solid #222 2px;
    
}

div.container__h1{
    background-image:url(/Media/white-car-vintage-transportation-vehicle-auto-970933-pxhere.com.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    opacity: 95%;
}

h1{
    display:block;
    font-size: 2.4em;
    text-align: center;
    margin: auto;
    font-style: italic;
    border-bottom: solid #222 5px;
    color: #222;
    border-bottom-right-radius: 20em;
    background: linear-gradient(to right, #fff 10%, #999);
}


h2{
    font-size: 2em;
}

h3{
    font-size: 2em;
    margin:0.5em;
    display: block;
    text-align: center;
    font-style: italic;
    color: #222;

}

div.tarjeta{
    display: inline-block;
    padding: 1.75em;
    background: linear-gradient(to bottom, #999, #fff);
    border-radius: 1em;
    margin: auto;
    
}

img.vehiculo{
    width: 19em;
    height: 17em;
    border-radius: 2em;
    transition:0.5s, ease-in 0.25s;
}


img.vehiculo:hover{
    width: 22em;
    height: 20em;
    border-radius: 2em;
}

div.flexbox{
    display: flex;
    flex-basis: 100vw;
    flex-wrap: nowrap;
   
}
 p.tarjeta__p{
    flex-wrap: nowrap;
    text-align: center;
    font-style: italic;
 }

 img.imagen-de-seccion{
    height: 20em;
    width: 25em;
    border-radius: 1.5em;
 }

 h2.row{
    display: flex;
    margin-left: 3em;
    
 }

 h2.h2-reverse{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3em;

 }

 div.container__1{
    margin: 4em;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100vw;
 }

 div.container__2{
    margin: 4em;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-basis: 100vw;
 }

 div.container__3{
    margin: 4em;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100vw;
 }

 p.section{
    margin: 4em;
 }

div.container__flex{
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
    align-items: center;
}

button{
    background-color: #ddd;
    width: 8em;
    height: 3em;
    border-radius: 0.75em;
    font-style: italic;
    text-decoration-color: #222;
    box-shadow: 2px 2px 2px 1px #222;
}

button:active{
    background-color: #777;
    width: 7.9em;
    height: 2.9em;
    border-radius: 0.75em;
    font-style: italic;
    text-decoration-color: #222;
}

footer{
    display:flex;
    flex-basis: 100vw;
    flex-wrap: nowrap;
    background: linear-gradient(to left, #eee, #999 );
    border-top-left-radius: 2em;
    border-top: solid #222 5px;
    flex-grow: 2;
    flex-shrink: 2;

}


div.About{
    margin: 1em;
    border-left:solid 2px #777;
    flex-grow: 2;
    flex-shrink: 2;
    color: #777;
    
}

div.Indice{
    display: flex;
    flex-direction: column;
    border-left:solid 2px #999;
    margin: 1em;
    flex-grow: 2;
    flex-shrink: 2;

}


div.social-media{
    display: flex;
    margin:1em;

}

i{
    padding: 0.25em;
    margin-top: 2em;
}

a.footer-link{
    color: #999;
}

a.footer-link__2{
    color: #777;
}